:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
}

body {
  font-family: "Roboto", sans-serif;
  color: #3a3a3a;
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: bold;
  letter-spacing: -0.2rem;
}

h4 {
  font-size: var(--font-size-md);
  letter-spacing: -0.1rem;
}
